<p>
	Tooltips can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content in a
	Tooltips can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content in a
	Tooltips can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content in a
	Tooltips can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content in a
	Tooltips can contain any arbitrary HTML, Angular bindings and even directives! Simply enclose desired content in a
</p>

<ng-template #tipContent>Hello</ng-template>


<span [ngbTooltip]="tipContent" placement="right">SPAN 1</span>
<br>
<br>
<span autoClose="false" [ngbTooltip]="tipContent" placement="right">SPAN 2</span>